<div class="px-3 py-4">
    <div class='container'>
        <div class="m-auto text-center" style="max-width: 480px;">
            <div class="row">
                <div class="col-6">
                    <h5>Student's Area</h5>
                    <a routerLink="/quiz-solve" class="btn btn-primary btn-block">Visit</a>
                </div>
                <div class="col-6">
                    <h5>Teacher's Area</h5>
                    <a routerLink="/quiz-teacher-home" class="btn btn-primary btn-block">Visit</a>
                </div>
            </div>
        </div>
    </div>
</div>